body{
    font-size: 20;
    background-color: rgb(203, 216, 233);
    color: rgb(66, 66, 66);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    margin: 15px;
    padding: 10px;
    
}
img{
   height: auto;
    width: auto; 
    margin: 10px;
    padding: 10px;
}
#flex-container{
    height: 50%;
    width: auto; 
    margin: 10px;
    padding: 10px;
}
#imgs{
    height: 50%;
    width: auto; 
    margin: 10px;
    padding: 10px;
    display: center;
}
#more{
    display: none;
}
h1{
    text-align: center;
}
#potato{
    display: flex;
}
#run[
    display: flex;
]